.page {
    &__title {
        @extend .mb-3;
    }

    &__introduction {
        @extend .lead;
        @extend .mb-3;
    }

    &__banner {
        display: block;
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            padding-top: 30%; 
            width: 100%;       
        }

        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}